/* src/components/NavBar.css */
.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 10px 0;
    border-top: 1px solid #ddd;
  }
  
  .navbar a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  
  .navbar a:hover {
    color: #ff4081;
  }
  