.navbar {
  position: absolute;
  bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  padding: 5px 0;
  border-top: 1px solid #d7d4d4;
}

.navbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: color 1s ease, transform 1s ease;
}

.navbar-item:hover .image-container {
  background-color: #ffd5d5;
  transition: background-color 1s ease;
}

.image-container {
  background-color: #fff;
  padding: 5px; /* Reducir el padding alrededor del icono */
  border-radius: 30%; /* Mantener los bordes redondeados */
}

.navbar img {
  width: 25px; /* Ajustar el tamaño de la imagen si es necesario */
}

.text-navbar-item {
  transition: color 1s ease;
  font-size: 0.75em; /* Reducir el tamaño del texto */
}

.navbar-item:hover .text-navbar-item {
  color: #ff7979;
}
