.password-recovery {
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .password-recovery form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .password-recovery input[type="email"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .password-recovery button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #FD8D8D;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .password-recovery p {
    margin-top: 10px;
    color: #333;
    font-size: 14px;
  }
  
  .password-recovery button[type="button"] {
    background-color: #ddd;
    color: black;
  }
  